* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

:root {
    /* Base color */
    --header-height: 4.5rem;

    /* colors */
    --hue: 159;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
}
body {
    font: 400 1rem 'DM Sans', sans-serif;
    color: var(--text-color);
    background: var(--body-color);
    --webkit-font-smoothing: antialiased;
}

h1 {
    font: 700 1.875rem 'Poppins', sans-serif;
    color: var(--title-color);
}

.button

#header {
    border-bottom: 1px solid #e4e4e4;
}

nav {
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font: 700 1.31rem 'Poppins', sans-serif;
    color: var(--title-color);
}

.logo span {
    color: var(--base-color);
}

.container {
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

.section {
    padding: 5rem 0;
}

#home .container {
    margin: 0;
}

#home .image {
    position: relative;
}

#home .image::before {
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -16.8%;
    left: 16.7%;
    z-index: 0;
}

#home .image img {
    position: relative;
    right: 2.93rem;
}

#home .image img,
#home .image::before {
    border-radius: .25rem;
}

#home .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

#home .text h1 {
    margin-bottom: 1rem;
}

#home .text p {
    margin-bottom: 2rem;
}